/* ul li {
    list-style-type: none; */
    
/* } */

.g{
    /* background-color: #; */
    
}

.nav-link.active{
    border-bottom: 2px solid  #adda58;
}

/* .dive{
background-color: #adda58;
color: antiquewhite;
} */